
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f7ff; /* Azul claro */
}

.navbar {
    background-color: #1e90ff;
    color: #fff;
}

.navbar-toggler-icon {
    color: #fff;
}

.nav-pills .nav-link {
    color: #fff;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: bold;
    color: #1e90ff;
}

.card-text {
    color: #6c757d;
}

.card-body {
    padding: 20px;
}

.btn-primary {
    background-color: #1e90ff;
    border-color: #1e90ff;
}

.btn-primary:hover {
    background-color: #007bff; 
    border-color: #007bff; 
}

.btn-success {
    background-color: #87ceeb;
}

.btn-success:hover {
    background-color: #5f9ea0; 
    border-color: #5f9ea0; 
    
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--cor-primaria);
}